@import '~bootstrap/scss/bootstrap';
@import 'font';

$button-font-color: #fff;
$pause-button-bg: #eb800e;
$resume-button-bg: #b40af2;
$reset-button-bg: #14ee00;
$start-button-bg: #4da6ff;
$delete-button-bg: #f2160a;
$update-button-bg: #ffd700;
$container-color: #333;

.timer-create-message {
  font-family: 'Play', sans-serif;
  font-size: 17px;
  text-align: center;
}

.delete-message {
  font-family: 'Play', sans-serif;
  font-size: 15px;
  text-align: center;
}

.dropdown-menu {
  font-family: 'Play', sans-serif;
}

.modal {
  font-family: 'Play', sans-serif;
}

.container {
  background: $container-color;
  border: 1px solid $container-color;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 400px;
  font-family: 'Play', sans-serif;
}

.pomodoro-timer {
  border: 5px solid $reset-button-bg;
  border-radius: 50%;
  color: $reset-button-bg;
  font-size: 50px;
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.btn-primary {
  background-color: $button-font-color;
  border-color: $button-font-color;
  color: #007bff;

}

.delete-button {
  background: $delete-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.start-button {
  background: $start-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.reset-button {
  background: $reset-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.resume-button {
  background: $resume-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

#signed-in-user {
  text-align: center;
}

.update-button {
  background: $update-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

#choose-task-button {
  align-items: left;
  font-family: 'Play', sans-serif;
  padding: 20px;
}

.task-name {
  align-items: center;
}

.pause-button {
  background: $pause-button-bg;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.dropdown-item {
  border-color: black;
}

.time {
  margin-top: 80px;
  position: relative;
}


.title {
  font-family: 'Black Ops One', sans-serif;
  padding: 15px;
}


h3 {
  font-family: 'Black Ops One', sans-serif;
  text-align: left;
}

.logo {
  font-family: 'Black Ops One', sans-serif;
  padding: 15px;
  display: block;
  justify-content: flex-start;
  font-size: 25px;
}

.dropdown {
  font-family: 'Livvic', sans-serif;
  .dropdown-toggle {
    right: 0;
    top: auto 0;
  }
}

.task {
  color: $button-font-color;
}

.hide-once-sign-in {
  margin: 15%;
  text-align: center;
}

fieldset {
  display: inline-flex;
  text-align: -webkit-center;
  text-align-last: center;
}

input {
  border-radius: 5px;
  margin: 15px;
  padding: 7px;
}


.dropdown {
 text-align-last: right;
}

.dropdown-item {
  border: grey;
}
.timer-create {
  display: block;

}

body {
  margin: 0px;
  line-height: 20px;
}

header {
  height: 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
  color: black;
  font-family: 'Play', sans-serif;
}
