@import '~bootstrap/scss/bootstrap';

$button-font-color: $fff;

.container {
  background: #333;
  border: 1px solid #333;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.pomodoro-timer {
  border: 5px solid #14ee00;
  border-radius: 50%;
  color: #14ee00;
  font-size: 50px;
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.delete-button {
  background: #f2160a;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.start-button {
  background: #4da6ff;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.reset-button {
  background: #14ee00;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.resume-button {
  background: #b40af2;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.pause-button {
  background: #eb800e;
  border-radius: 5px;
  color: $button-font-color;
  font-size: 16px;
  height: 39px;
  margin: 10px auto;
  padding: 5px;
  width: 80px;
}

.time {
  margin-top: 70px;
  position: relative;
}

.task {
  color: white;
}
