@import '~bootstrap/scss/bootstrap';
.container {
  border:1px solid #333;
  border-radius :20px;
  width:400px;
  margin:20px auto;
  padding:20px;
  text-align:center;
  background : #333;
}

.pomodoro-timer {
  color:#14ee00;
  font-size:50px;
  margin:10px auto;
  border : 5px solid #14ee00;
  border-radius:50%;
  width:200px;
  height:200px;
  overflow:hidden;
  position:relative;
}

.start-button {
 background:#4da6ff;
 padding:5px;
 width:80px;
 margin:10px auto;
 font-size:16px;
 color: white;
 height : 39px;
 border-radius : 5px;
}

.reset-button {
 background:#14ee00;
 padding:5px;
 width:80px;
 margin:10px auto;
 font-size:16px;
 color: white;
 height : 39px;
 border-radius : 5px;
 position:relative;
}

.time {
  margin-top:70px;
  z-index : 1;
  position:relative;
}

.inTimer,
.task {
  color: white;
}
